annotated-types
anyio
certifi
charset-normalizer
click
colorama
exceptiongroup
fastapi
h11
httptools
idna
numpy
opencv-python
packaging
Pillow
pydantic
pydantic_core
pytesseract
python-dotenv
PyYAML
requests
sniffio
starlette
typing_extensions
urllib3
uvicorn
watchfiles
websockets
